@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.no-scrollbar {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}